body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../public/Ellipse168.svg') 0 0 no-repeat,
    url('../public/Ellipse171.svg') right 0 no-repeat,
    url('../public/Ellipse169.svg') 0 600px no-repeat,
    url('../public/Ellipse170.svg') right 600px no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
